
<div class="container">
   <div class="panel panel-default">
       <div class="search heading">
         <h4>GITHUB-SEARCH</h4>
         <form (ngSubmit)='userSubmit()'>
          <input type="text" name="userName" class="form-control" placeholder="Enter your Username"[(ngModel)]=userName>
          <button class="btn btn-outline-success btn-sm" type="submit">Fetch Github Data</button>
        </form>
         <br>
     </div>
   </div>
  </div>
    <img id="img" src ="{{search.avatar_url}}">

    <div class="panel-body">

<div class="row">
<div class="col-sm-5">
<ol class="list-group">

<p class="list-group-item" *ngIf="search.bio">{{search.bio}}</p>
<p class="list-group-item" *ngIf="search.twitter_username">{{search.twitter_username}}</p>
<p class="list-group-item" *ngIf="search.location">{{search.location}}</p>
<p class="list-group-item" *ngIf="search.hireable">{{search.hireable}}</p>
<p class="list-group-item" *ngIf="search.created_at">{{search.created_at}}</p>
<p class="list-group-item" *ngIf="search.updated_at">{{search.updated_at}}</p>
</ol>
</div>
</div>
</div>
<div class="col-sm-4">
  <p>
    <span class="label label-default">{{search.followers}} followers</span><br>
    <span class="label label-primary">{{search.following}} following</span>
    <span class="label label-secondary">{{search.public_gist}}</span>
    <span class="label label-primary">{{search.public_repo}}</span>
  </p>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
<div class="panel-tittle">repo</div>
        </div>
      </div>
      <div class="panel-body"*ngfor="let repo of repo"></div>
      <p>
        {{repo.name}}
        <a href="{{repo.html}} btn btn sm-btn warning pull-right"></a>
      </p>
      <p>
        {{repo.description}}
      </p>


