#img{
  border-radius: 80%;
  width: 150px;
}
h4{
  align-items: center;
  color: white;
  text-align: center;
  padding: 5px;
}
.col-sm-4{
color: whitesmoke;
}
#large{
  font-size: large;
  font-weight: bold;
  color: white;
}
.p{
  color: chartreuse;
}
