<!-- <p>search works!</p> -->
<div class="container">
  <div *ngIf= "search">
   <div class="panel panel-default">
       <div class="search heading">
         <h4>GITHUB-SEARCH</h4>
<div id="git">
<img src="" alt="">
</div>
         <form (ngSubmit)='submitUsername()' >
          <input type="text" name="username" class="form-control" placeholder="Enter your Username">
          <button class="btn btn-outline-success btn-sm">Fetch Github Data</button>
        </form>

         <small>    {{search.login}}</small>
         <br>
         <span>    studies at {{search.company }} </span>
     </div>
   </div>
  </div>
    <img id="img" src ="https://avatars.githubusercontent.com/u/81696884?v=4" alt="">

    <div class="panel-body">


<div class="row">
<div class="col-sm-5">
<ol class="list-group">

<p class="list-group-item" *ngIf="search.bio">{{search.bio}}</p>
<p class="list-group-item" *ngIf="search.twitter_username">{{search.twitter_username}}</p>
<p class="list-group-item" *ngIf="search.location">{{search.location}}</p>
<p class="list-group-item" *ngIf="search.hireable">{{search.hireable}}</p>
<p class="list-group-item" *ngIf="search.created_at">{{search.created_at}}</p>
<p class="list-group-item" *ngIf="search.updated_at">{{search.updated_at}}</p>
</ol>


</div>
</div>
</div>
<div class="col-sm-4">
  <p>
    <span class="label label-default">{{search.followers}} followers</span>
    <span class="label label-primary">{{search.following}} following</span>
    <span class="label label-secondary">{{search.public_gist}}</span>
    <span class="label label-primary">{{search.public_repo}}</span>
  </p>
  <p>
    <a href="search.html url" target="blank" class="btn btn-success btn-sm">View profile on Github</a>
  </p>
  <div class="panel panel-default">
   <div class="panel heading">
       <div class="panel-title">repo</div>
   </div>
    <div class="panel-body" *ngFor="let repo of repo"></div>
        <p>
            {{repo.name}}
            <a href="https://github.com/kabue-moringa"> view repo name</a>
        </p>

  </div>
</div>

