*{
  font-family: fantasy;

}
.error{
    height: 620px;
    background-size: cover;


  }
  .overlay{
    background-color: rgba(0, 0, 0, 0.678);
    height: inherit;
  }
  h1{
    position: relative;
    top: 45%;
    font-family: fantasy;
    font-size: 100px;
  }*{
    font-family: 'Shadows Into Light', cursive;

}
.error{
    height: 610px;
    background-size: cover;

  }
  .overlay{
    background-color: rgba(0, 0, 0, 0.678);
    height: inherit;
  }
  h1{
    position: relative;
    top: 45%;
    font-family: system-ui,serif;
    font-size: 100px;
  }
